@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-brand-background text-brand-text antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
